<ion-content class="ion-padding profile-page">
  <div class="bck-btn-container">
    <p style="font-size:30px;" (click)="navigate('/barber-bookings')">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </p>
  </div>

  <div class="profile-header">
    <img class="avatar" src="../../../../assets/profile-pic-image.jpg" alt="Profile Image" />
    <h2 class="name">Lungile Vincent Hlakanyane</h2>
    <p class="email">lungile.co.za</p>
  </div>

  <div class="stats-card">
    <div class="stats">
      <div class="stat-item">
        <ion-icon name="calendar-outline"></ion-icon>
        <p style="font-size:13px;">12/10/2025</p>
        <small>Booking Date</small>
      </div>
      <div class="stat-item">
        <ion-icon name="cut-outline"></ion-icon>
        <p style="font-size:13px;">Hair Cut</p>
        <small>Preferred Service</small>
      </div>
      <div class="stat-item">
        <ion-icon name="time-outline"></ion-icon>
        <p style="font-size:13px;">20/01/2025</p>
        <small>Last Visit</small>
      </div>
    </div>
  </div>

  <ion-list lines="none" class="menu-list">
    <ion-item button (click)="navigate('/chat')">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>Send Message</ion-label>
    </ion-item>

    <ion-item button (click)="openReportModal()">
      <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
      <ion-label>Report</ion-label>
    </ion-item>

    <ion-item button (click)="block()">
      <ion-icon name="close-circle-outline" slot="start"></ion-icon>
      <ion-label>Block</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
