<ion-content class="ion-padding chat-list-page">
  <div class="header-row">
    <h2 class="title">Chats</h2>
    <ion-icon name="create-outline" class="new-chat-icon"></ion-icon>
  </div>

  <ion-segment value="everyone">
    <ion-segment-button value="contacts">
      <ion-label>Contacts</ion-label>
    </ion-segment-button>
    <ion-segment-button value="everyone">
      <ion-label>Everyone</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-searchbar placeholder="Search chats"></ion-searchbar>

  <ion-list lines="none">
    <ion-item *ngFor="let chat of chatList" class="chat-item" (click)="navigateToChat(chat)">
      <ion-avatar slot="start">
        <img src="assets/profile-pic-image.jpg" />
      </ion-avatar>
      <ion-label>
        <h3>{{ chat.username }}</h3>
        <p class="last-message">{{ chat.email }}</p>
      </ion-label>
      <div class="meta-info" slot="end">
        <p class="timestamp">{{ chat.role }}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
