.post-textarea {
    font-size: 18px;
    border: none;
    width: 100%;
    margin-top: 20px;
  }
  
  .user-label {
    margin-left: 10px;
    font-weight: 500;
  }

.image-preview-container {
   margin-top: 15px;
   display: flex;
   justify-content: center;
 }

.image-preview {
  max-width: 100%;
  max-height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  object-fit: cover;
}

  