<ion-content class="ion-padding profile-page">

  <div class="bck-btn-container">
    <p style="font-size:30px;" (click)="navigate('/home')">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </p>
  </div>

  <div class="profile-header" *ngIf="userDetails">
    <img class="avatar" src="../../../../assets/profile-pic-image.jpg" alt="Profile Image" />
    <h2 class="name">{{ userDetails.username }}</h2>
    <p class="email">{{ userDetails.email }}</p>
    <p class="email">{{ userDetails.phone }}</p>
  </div>
  

  <!-- Tabs -->
  <ion-segment [(ngModel)]="currentTab" color="primary">
    <ion-segment-button value="images">
      <ion-label>Images</ion-label>
    </ion-segment-button>
    <ion-segment-button value="videos">
      <ion-label>Videos</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Images Tab -->
  <div *ngIf="currentTab === 'images'">
    <ion-grid>
    <ion-row>
      <ion-col size="6" sizeMd="4" *ngFor="let image of portfolioImages">
        <ion-card (click)="openImageViewer(image)">
          <img [src]="image" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <input #imageInput type="file" accept="image/*" multiple style="display: none"
  (change)="handleMultipleImageUpload($event)" />

  <div class="action-btn-container"  style="display:flex; gap:10px;">
    <ion-grid>
      <ion-row>
        <ion-col><ion-button expand="block" class="custom-btn" (click)="uploadImages()">Select Images</ion-button></ion-col>
        <ion-col><ion-button expand="block" class="custom-btn" (click)="uploadToServer()">Upload</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  </div>

  <!-- Videos Tab -->
  <div *ngIf="currentTab === 'videos'">
    <ion-grid>
      <ion-row>
        <ion-col size="12" sizeMd="6" *ngFor="let video of portfolioVideos">
          <ion-card>
            <video width="100%" height="200" controls>
              <source [src]="video" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="action-btn-container">
      <ion-button expand="block" class="custom-btn">Upload Videos</ion-button>
    </div>
  </div>

</ion-content>
