.side-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 85%; /* Occupies 85% of the screen width */
    height: 120%; /* Occupies 85% of the screen height */
    background: var(--ion-background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px 20px 0 0; /* Rounded top corners */
    transform: translateY(100%); /* Start off-screen */
    animation: slide-up 0.3s ease-out forwards;
    margin-right: 100%;
    ion-list {
      padding: 1rem;
    }
  }
  
  @keyframes slide-up {
    from {
      transform: translateX(-100%); /* Start off-screen */
    }
    to {
      transform: translateY(30%); /* Slide into view */
    }
  }
  
  
  .close-container {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    flex-direction: column;
  }
  
  //
  ion-footer {
    border-top: none !important;
    color: #000000;
  }
  
  ion-item {
    color: grey;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
  }
  
  ion-icon {
    color: grey;
  }
  
  .close-container {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    flex-direction: column;
  }
  
  ion-icon {
    height: 24px;
    width: 24px;
    color: grey;
    border: 2px;
  }
  
  .header-text {
    margin-left: 10px;
    /* Adjust the margin as needed */
    color: grey;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
  }
  