<ion-content class="ion-padding profile-page">
  <div class="bck-btn-container">
    <p style="font-size:30px;" (click)="navigate('/barber-bookings')">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </p>
  </div>

  <h2 style="text-align:center; font-weight:600;">Create Availability Slot</h2>

  <ion-card class="form-card">
    <ion-card-content>
      
        <ion-item>
          <ion-label position="stacked">Date</ion-label>
          <ion-datetime presentation="date"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Start Time</ion-label>
          <ion-datetime presentation="time"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">End Time</ion-label>
          <ion-datetime presentation="time"></ion-datetime>
        </ion-item>

        <ion-button expand="block" type="submit" color="success" (click)="submitSlot()">
          Create Slot
        </ion-button>
      
    </ion-card-content>
  </ion-card>
</ion-content>
