<div style="display:flex; gap:15px">
   <p style="font-size:30px; font-weight:bold" (click)="goBack()"><ion-icon name="chevron-back-outline"></ion-icon></p>
   <p style="font-size:30px; color:#000; font-weight: bold;">Forgot Password</p>
</div>

<ion-content class="ion-padding forgot-content">
  <div class="forgot-container">
    <h2 class="title">Forgot Password</h2>
    <p class="subtitle">
      Enter the email address with your account and we’ll send an email with confirmation to reset your password.
    </p>

    <ion-item lines="none" class="input-wrapper">
      <ion-input
       type="email"
       placeholder="Enter your email"
       class="input-field"
       [(ngModel)]="email"
       required>
      </ion-input>
     </ion-item>

      <ion-button (click)="onSubmit()"
        expand="block"
        type="submit"
        class="send-btn">
        Send Code
      </ion-button>
  </div>
</ion-content>
