<ion-content class="feed-page">
  <div class="heading-title" style="padding: 15px; display: flex; justify-content: space-between;">
   <div style="display:flex; gap:10px;">
    <div style="font-size: 25px; cursor: pointer; position:relative; top: 25px;" (click)="openMenuModal()">
      <ion-icon name="menu-outline"></ion-icon>
    </div>
     <div>
      <h1>iBarber</h1>
     </div>
   </div>
   <div class="options" style="display: flex; gap: 10px; position: relative; top: 27px;">
    <ion-icon name="search-outline" style="font-size: 24px;" (click)="toggleSearchBar()"></ion-icon>
     <ion-icon name="notifications-outline" style="font-size: 24px;" (click)="navigate('/chat-list')"></ion-icon>
     <ion-icon name="person-outline" style="font-size: 24px;" (click)="navigate('/profile')"></ion-icon>
   </div>
  </div>

  <div class="search-container" *ngIf="showSearchBar">
    <ion-searchbar placeholder="Search..." [(ngModel)]="searchText"></ion-searchbar>
  </div>
 
   <div class="feed-wrapper">
    <ion-card *ngFor="let post of filteredPosts()" class="post-card">
       <div class="post-header">
         <img src="assets/barbers/king.jpg" class="avatar" />
      <div class="info" (click)="navigateToUserProfile(post.userId)">
          <h3>{{ post.username }}</h3>
           <p>{{ post.createdAt | date:'short' }}</p>
         </div>
       </div>
       <img [src]="'http://localhost:8080' + post.imageUrl" class="post-image" />
       <div class="post-body">
        <p>{{ post.content }}</p>
        <ion-icon [name]="post.likedByCurrentUser ? 'heart' : 'heart-outline'" color="danger" (click)="toggleLike(post)"></ion-icon> <span class="likes-count" style="position:relative; bottom:8px; right:7px;">{{ post.likesCount || 0 }} Likes</span>
        <ion-icon name="chatbubble-outline" (click)="toggleComments(post)"></ion-icon>
      </div>
        <!-- Comments Section -->
    <div *ngIf="post.showComments" class="comments-section">
     <div *ngFor="let comment of post.comments" class="comment">
    <strong>{{ comment.username || 'User' }}:</strong> {{ comment.content }}
   </div>

    <ion-item>
    <ion-input
      [(ngModel)]="post.newComment"
      placeholder="Add a comment...">
    </ion-input>
    <ion-button (click)="addComment(post)" fill="clear">Post</ion-button>
     </ion-item>
   </div>

     </ion-card>
   </div>
   <div *ngIf="filteredPosts().length === 0" style="text-align:center; padding:20px;">
   <p style="color:grey; font-style: italic;">No matching posts found!</p>
  </div>

 </ion-content>
 